[Unit]
Description=Runs a server on port 8106 to display system health information.
After=network.target

[Service]
WorkingDirectory=/home/homeserver/systemhealth
ExecStart=go run /home/homeserver/systemhealth/main.go
Restart=always
User=root

[Install]
WantedBy=multi-user.target
